.layout {
  background-color: white;
}

.container {
  max-width: 576px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.buttons button {
  margin-left: 24px;
}

.buttons button:first-of-type {
  margin-left: 0;
}

.dices {
  justify-content: center;
  margin: 16px auto 24px auto;
}
