.layout {
  background-color: white;
}

.container {
  max-width: 576px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.channel-text {
  text-align: center;
}
