.layout {
  background-color: white;
}

.container {
  max-width: 576px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.dices {
  justify-content: center;
  margin: 16px auto 24px auto;
}
