@import (reference) "common.less";

.background {
  .paper-background();
  flex: 1;
  padding-bottom: 24px;
}

.form {
  .torii-box();
  margin: 24px auto;
  max-width: @screen-lg;
  margin-top: 0;

  .submit-divider {
    margin-top: 0;
  }

  .submit {
    margin-top: 24px;
    margin-bottom: 0;

    :global(.ant-form-item-control-input-content) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .numbers {
    display: flex;
    & > * {
      margin-right: 24px;
    }
  }
}

.hide {
  display: none;
}
