@import (reference) "../../common.less";

.layout {
  background-color: @collapse-content-bg;
}

.form {
  .torii-box();
  margin: 24px auto;
  max-width: @screen-md;
  justify-content: center;

  &:global(.ant-form-inline) :global(.ant-form-item) {
    margin-bottom: 8px;
  }

  @media (max-width: @screen-sm) {
    justify-content: space-between;
  }

  output {
    text-align: center;
  }
}
