.dices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 16px;
  max-width: 456px;
}

.dices > .dice {
  padding: 4px !important;
  margin-right: 4px;
  margin-bottom: 8px !important;
  width: 72px;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  background-color: #69c0ff;
}

.selected {
  background-color: #91d5ff;
}

.unselectable {
  opacity: 0.5;
  background-color: #bfbfbf;
}

.theme-orange.selectable:hover {
  background-color: #ff7a45;
}

.theme-orange.selected {
  background-color: #ffbb96;
}

.theme-green.selectable:hover {
  background-color: #52c41a;
}

.theme-green.selected {
  background-color: #95de64;
}

.theme-gray.selected {
  background-color: #bfbfbf;
}

.theme-shiny.selected.explosion {
  box-shadow: 0px 0px 20px #ad6800;
}
