.dice {
  padding: 4px !important;
  margin-right: 2px;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  background-color: #69c0ff;
}

.selected {
  background-color: #91d5ff;
}

.unselectable {
  opacity: 0.5;
  background-color: #bfbfbf;
}

.rerolled {
  background-color: #ffbb96;
}

.from-reroll {
  border: 1px solid #ffbb96 !important;
}
