@import (reference) "common.less";

.intent-container {
  .paper-background();
  background-size: 100vw;
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 32px;
  min-height: calc(~"100vh - 64px");

  @media (min-width: @screen-md) {
    padding-left: 24px;
    padding-right: 24px;
  }

  & > div {
    position: relative;

    & > button {
      position: absolute;
      right: 0;
    }
  }
}
