@import (reference) "../../common.less";

.form {
  margin: 0 auto;
  max-width: @screen-md;
  .torii-box();
  padding-bottom: 0;
}

.voided :global(.ant-form-item-control-input-content):after {
  content: "+1";
  color: rgba(0, 0, 0, 0.45); /* Ant Design default secondary color */
  margin-left: 12px;
}

.school {
  margin-bottom: 24px;

  @media (max-width: @screen-sm) {
    margin-left: -36px;
    margin-right: -36px;
  }
}
