.form {
  padding: 0 24px;
  margin-top: 24px;
}

.pseudo-radio {
  border: none;
  height: 100%;
}

.pseudo-radio > span {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 19px;
  padding-bottom: 21px;
}
