.layout {
  max-width: 576px;
  margin: 0 auto;
}

.layout > button {
  margin-bottom: 24px;
}

.figures {
  margin-top: 24px;
}

.add-kept-form > div:last-child {
  text-align: right;
}

@media (min-width: 576px) {
  .add-kept-form > div:last-child {
    text-align: left;
    float: left;
  }
}

.text {
  text-align: center;
}
