.layout {
  margin-top: 24px;
}

.layout > h1,
.layout > p {
  text-align: center;
  padding: 12px;
}

.layout > * {
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.raw-results {
  max-width: 288px;
  text-align: center;
}

.raw-results :global(.ant-typography) {
  margin-right: 12px;
}

.layout button {
  margin-top: 24px;
  float: right;
}
