.raw-results {
  max-width: 576px;
  margin: 0 auto;
  text-align: center;
}

.raw-results :global(.ant-typography) {
  margin-right: 12px;
}

.layout {
  margin-top: 24px;
}

.layout h1 {
  text-align: center;
}
