.layout {
  margin-top: 24px;
}

.layout > h1,
.layout > p {
  text-align: center;
  padding: 12px;
}

.layout > * {
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .layout h2 {
    text-align: center;
  }
}

.dice {
  max-width: 288px;
  text-align: center;
}

.dice :global(.ant-typography) {
  margin-right: 12px;
}
