@import (reference) "../../common.less";

.layout {
  padding-top: 24px;
  padding-bottom: 24px;
  background-size: cover;
  flex: 1;

  & > h1,
  & > p {
    text-align: center;
    padding: 12px;
  }

  & > h1:global(.ant-typography) {
    .red-title();
  }

  & > * {
    max-width: @screen-md;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.dice {
  max-width: 288px;
  text-align: center;

  :global(.ant-typography) {
    margin-right: 12px;
  }
}
