.container {
  max-width: 600px;
}

.container :global(.ant-descriptions-title) {
  text-align: center;
}

.container :global(.ant-descriptions-item-content) {
  word-break: normal;
}

@media (min-width: 1600px) {
  .container {
    max-width: 800px;
  }
}
