@import (reference) "~antd/dist/antd.less";

.container {
  max-width: @screen-xl;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  & > * {
    margin-bottom: 24px;
  }
}
