@import (reference) "common.less";

.container {
  flex: 1;
  .paper-background();

  .breadcrumb {
    padding-left: 8px;
    background: #ffffff;
  }
}

.form-container {
  .torii-box();
  margin: 0 auto;
  max-width: @screen-md;

  @media (min-width: @screen-sm) {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .submit {
    margin-bottom: 0;

    button {
      float: right;
    }
  }

  .deck-builder {
    background-color: white;
    border: 1px solid fade(black, 25%);
    padding: 12px;

    display: flex;
    flex-direction: column;

    :global(.ant-form-item-label) {
      text-align: left;
    }

    :global(.ant-checkbox-group) {
      display: flex;
      flex-wrap: wrap;

      img {
        max-width: 30px;
      }

      & > label {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        margin: 0;
      }
    }
  }
}

.cards {
  & > * {
    margin: 4px;
  }
}
