.logo img {
  height: 56px;
  padding-bottom: 2px;
}

.login {
  float: right;
}

@media (max-width: 576px) {
  .logo {
    padding-left: 12px !important;
  }

  .menu > li.sm-hide {
    display: none !important;
  }
}

@media (min-width: 577px) {
  .menu > li.sm-only {
    display: none !important;
  }
}
