@import (reference) "../../common.less";

.container {
  margin: 0 12px;
  padding: 12px;
  background-color: @default-background-color;

  h2 {
    .block-title();
    font-size: @heading-4-size;
  }
}
